autom4te.cache/* linguist-generated
aclocal.m4 linguist-generated
Makefile linguist-generated
Makefile.in linguist-generated
depcomp linguist-generated
install-sh linguist-generated
NEWS linguist-generated
README linguist-generated
INSTALL linguist-generated
configure linguist-generated
compile linguist-generated
autoscan.log linguist-generated
ChangeLog linguist-generated
config.log linguist-generated
config.status linguist-generated
missing linguist-generated
stamp-h1 linguist-generated